<div *ngIf="isLoading" class="spinner-container">
  <app-load-spinner class="center"></app-load-spinner>
</div>

<div *ngIf="!isLoading" style="margin-top: 30px">
  <!-- head jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div
      class="container"
      style="background-color: #e9ecef; padding: 30px; border-radius: 5px"
    >
      <h1 class="display-4">Course Categories!</h1>
      <p class="lead">
        This is a list of course categories, click on each to see a list of
        courses for a given category
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" *ngFor="let category of courseCategories">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <p class="card-text">{{ category.description }}</p>
          <a (click)="showCategory(category.id)" class="btn"
            >View details <i class="fa fa-angle-double-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
