.btn {
  border: 1px solid #e9ecef;
}

.card {
  border: none;

  .card-body {
    .card-title {
      font-weight: 600;
    }
  }
}

.spinner-container {
  position: relative;
}

.center {
  position: absolute;
  transform: translate(-50%, 50%);
  top: 50%;
  left: 50%;
}

:host {
  width: 100%;
}
