<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb"
            style="
              padding-bottom: 1rem;
              padding-top: 1rem;
              background-color: #e9ecef;
              border-radius: 5px;
              padding-left: 15px;
              padding-right: 15px;
            "
          >
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">About</li>
            <li class="breadcrumb-item active" aria-current="page">Courses</li>
          </ol>
        </nav>
        <!-- head jumbotron -->
        <div class="jumbotron jumbotron-fluid">
          <div
            class="container"
            style="background-color: #e9ecef; padding: 30px; border-radius: 5px"
          >
            <h1 class="display-4">Course Categories!</h1>
            <p class="lead">
              This is a list of course categories, click on each to see a list
              of courses for a given category
            </p>
          </div>
        </div>
        <!-- main dynamic content -->
        <router-outlet></router-outlet>
      </div>
      <!-- sidemenu -->
      <div class="col-sm-3">
        <router-outlet name="sidemenu"></router-outlet>
      </div>
    </div>
  </div>
</main>
